{% extends 'basemain.html.twig' %}
{% block body %}
    <main class="content-dict err">
        <h2>
            МИР ВОКРУГ НАС
        </h2>
        <div class="dict">
            <div>
                {% if(errors == 0) %}
                    <p style="padding: 30px; color: green; font-weight: bold">Поздравляем! Вы написали диктант без единой ошибки!</p>
                {% else %}
                    <p style="padding: 30px; color: red; font-weight: bold">Количество ошибок в тесте:  {{ errors }}</p>
                {% endif %}
            </div>
            <a href="{{ path('user_main') }}" style="padding: 20px 50px;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    background: #ffda00;
    color: #000;
    border-radius: 10px;
    margin-top: 30px;">ОК!</a>
        </div>
    </main>
    {{ errors }}
{% endblock %}