{% extends 'basemain.html.twig' %}
{% block body %}
    <main class="content-dict">
        <h2>ДИКТАНТ ПО РУССКОМУ ЯЗЫКУ</h2>
        <div class="dict">
            <div><a href="#"><audio src="http://vpr-ege.ru/zagruzki/audio9.mp3" controls></audio></a></div>
            <form method="post" action="{{ path('user_dictant_result') }}">
                <textarea rows="5" name="dictanttext"  style="font-size: 48px;border: 2px dotted green;margin: 20px 0px;border-radius: 10px;" placeholder="Сюда нужно вводить текст диктанта"></textarea>
                <input style="padding: 20px 50px;
    display: inline-block;
    margin: 10p;
    text-decoration: none;
    background: #ffda00;
    color: #000;
    border-radius: 10px;
    margin-top: 30px;" type="submit" value="ГОТОВО">
            </form>
        </div>
    </main>
{% endblock %}